:root{
    --main-color:#4726e1;
}
.text-main{
    color: var(--main-color);
}
header{
    background-size: cover;
    background-position: center center;
    background-image: url(../Images/bg.jpg);
    background-color: tomato;
    
}
.icon{
    width: 2rem;
    height: 2rem;
    /* background-color: tomato; */
    /* > عشان تبقي مربع كدا 
    . بس هنا في مشكله الايكون فوق مش في النص 
    . نروح لل html >  و نعمل الاتي 
    d-flex justify-content-center align-items-center
    > كدا بقت ايكون موجوده جوه مربع 
    انت بقي لو رحت للمربع ده و كتيتله 
    > rounded-circle : هيبقي في النص تماما 
    */

}
/* .logo{
    width: 180px;
} */

.title h2{
    font-size: 5rem;
    font-weight: 900;
    color: gray;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* الفراغات ما بين كل حرف و التاني  */
}
.title h3{
    font-size: 2.5rem;
    font-weight: 900;
    color: black;
    letter-spacing: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about{
    background-image: url(../Images/light_dot.jpg);
}
.client-feedback{
    border: solid 4px #f1f1f1;
}
.client-img{
    width: 90px;
    border-radius: 50%;
    border: solid 4px #f4f4f4;
    transform: translateY(50%);
}
.client-feedback h6{
    position: relative;
}
.client-feedback h6::after{
    content: '';
    background-color: var(--main-color);
    height: 2px;
    width: 10%;
    position: absolute;
    left: 45%;
    /* طيب ليه 45% عشان انا بقولها تبعد عن شمالها 45 و هي 10 يبقي كدا كام ؟
    55% 
    طيب يتفضل كام 45% 
    دول اللي علي يمينها 
    و متقلقش هي في الريسبونسف ذي الفل */
    /* top: 0; */
    top: 100%;
    /* 100% عشان تنزل تحت  */
}


 /* [data-bs-target]كدا هنا هو بيسلكت العناصر اللي واخده اتربيوت  */
.carousel-indicators [data-bs-target]{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: 0;
}
.icon{
    color: black;
}