:root{
    --main-color:#4726e1;
}
.text-main{
    color: var(--main-color);
}
header{
    background-size: cover;
    background-position: center center;
    background-image: url(../Images/bg.jpg);
    background-color: tomato;
    
}
.icon{
    width: 2rem;
    height: 2rem;
    /* background-color: tomato; */
    /* > عشان تبقي مربع كدا 
    . بس هنا في مشكله الايكون فوق مش في النص 
    . نروح لل html >  و نعمل الاتي 
    d-flex justify-content-center align-items-center
    > كدا بقت ايكون موجوده جوه مربع 
    انت بقي لو رحت للمربع ده و كتيتله 
    > rounded-circle : هيبقي في النص تماما 
    */

}
/* .logo{
    width: 180px;
} */

.title h2{
    font-size: 5rem;
    font-weight: 900;
    color: gray;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* الفراغات ما بين كل حرف و التاني  */
}
.title h3{
    font-size: 2.5rem;
    font-weight: 900;
    color: black;
    letter-spacing: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about{
    background-image: url(../Images/light_dot.jpg);
}